apify-client
python-dotenv
langgraph
langchain
langchain-openai
pydantic
typing-extensions
openai
sqlalchemy>=2.0,<3
langchain-tavily
langchain-classic
tavily-python
langgraph-checkpoint-sqlite
fastapi
uvicorn
tzdata
requests
httpx
langsmith
openevals
streamlit>=1.64
